@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');
.iiit{
    font-size: 20px;

}
.bsize{
    width: 23rem;
    height: 10rem;
    margin:9rem 3rem;
    border-radius: 30px;
    
}
